NAMESPACE=test
APP_ENV=dev
CUSTOM_MESSAGE="hola"
USE_HPA=true
USE_INGRESS_PATCH=false
REPLICAS=1
MIN_REPLICAS=3
MAX_REPLICAS=7
CPU_AVERAGE_UTILIZATION=50
INGRESS_CLASS_NAME=nginx
HOST=example.local
PATH=/